*{
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
    user-select: none;
}

.Titulo{
    padding: 0 0 50px 0;

    h1{
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 70px;
       
    }
}



body {
  margin: 0;
  background: #ffffff;
  font-family: sans-serif;
  overflow: hidden;

  background-image: url(../Lugares/Fondo3.jpg);
  background-size: cover;
  background-position: center;
}


.ContenedorG{
  background-color: rgba(0, 0, 0, 0.5); /* Oscurece un poco */
  backdrop-filter: blur(3px);           /* Borrosidad */
}

.ContenedorG {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ContenedorLugares {
  position: relative;
  width: 90%;
  height: 500px;
  perspective: 2000px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 0;
  overflow: hidden;
  
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow:  0 0 30px rgb(255, 255, 255, 0.2);
  border-radius: 10px;

}

.ClasLugar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 280px;
  height: 480px;
  overflow: hidden;
  padding: 15px;
  text-align: center;
 
  
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  box-shadow:  0 0 20px rgba(255, 255, 255, 0.1);
  cursor: pointer;

  transition: border 0.3s ease, box-shadow 0.3s ease;
}


.ClasLugar:hover {
  border: 2px solid rgb(255, 255, 255, 0.3);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.8);
}




.Lug{
  h1{
    color: rgb(255, 255, 255);
  }

  h2{
    color: rgba(255, 255, 255, 0.7);
  }

  h3{
    color: rgba(255, 255, 255, 0.5);
  }
}



.Lug#Imagen img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  border-radius: 10px;
}

.Lug.Titulo h1, .Lug.Titulo h2 {
  margin: 10px 0;
}

.Ver {
    font-size: 30px;
    color: #ffffff;
    a{
      color: #ffffff;
    }
}



/* Botones */



.Botones{
    padding: 20px 0 0 0;
    
}

.Botones button {
  
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 40px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: background 0.3s ease;

  box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
  
}

.Botones button:hover {
  background: rgba(0, 0, 0, 1);
  color: rgb(255, 255, 255);
}

.Botones button:active {
  transform: scale(0.95);      
  background: rgba(30, 30, 30, 1); 
}




 @media (min-width: 300px) and (max-width: 500px) {

.Titulo{
    padding: 0 0 20px 0;

    h1{
        font-size: 40px;
       
    }
}


.ContenedorLugares {
  padding: 0;
}

.ClasLugar{
  padding: 5px;
}

.Botones{
  padding: 10px;
}

.ContenedorLugares {
  height: 420px;
}
     
 }

