html{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Contenedor{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Contenido1{
    background-color: orange;
    width: 20%;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 40px 0 0 0;position: relative;
}
.Avatar1{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    background-image: repeating-linear-gradient(0deg, black, black 3px, orange 3px, orange 5px);
    background-size: 170px;
    background-repeat: no-repeat;
    background-position: left;
}
.Avatar1 img{
    width: 250px;
    height: 250px;
}
.HRNegro{
    background-color: black;
    width: 3px;
    height: 25px;
    border: none;
    position: absolute;
    bottom: 30px;
    right: 200px;
}
.TituloAptitudes{
    margin: 0;
    padding: 0 0 0 60px;
    font-weight: bold;
    font-size: 20px;
}
.HRBlanco{
    width: 20px;
    height: 3px;
    background-color: white;
    display: block;
    margin: 40px 0 5px 60px;
    border: none;
}
.Listado{
    padding: 10px 0 0 75px;
    margin: 0;
    font-size: 15px;
    text-align: left;
}
.Contenido2{
    background-color: rgb(236, 234, 234);
    width: 30%;
}
.TituloEva{
    font-size: 60px;
    margin: 0;
    padding: 40px 0 40px 20px;
}
.Informacion1{
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    padding: 0 0 0 20px;
}
.Contenido3{
    padding: 10px 0 10px 0;
}
.HRNaranja{
    width: 20px;
    height: 3px;
    background-color: orange;
    display: block;
    margin: 0 0 5px 20px;
    border: none;
}
.Tituloscontenido{
    margin: 0;
    padding: 0 0 0 20px;
    font-weight: bold;
    font-size: 20px;
    color: orange;
}
.Listadocontenido{
    padding: 0 0 0 35px;
    font-size: 15px;
    text-align: left;
}
.ParrafoResumen{
    padding:  0 0 0 20px;
    width: 90%;
}
.Ubicacion{
    width: 12px;
}
.Celular{
    width: 12px;
}
.Envio{
    width: 13px;
}
@media (min-width: 300px) and (max-width: 500px){  
.Contenedor{
    display: flex;
    flex-direction: column;
}
.Contenido1{
    width: 100%;
    padding: 20px 0 0 0; 
}
.Avatar1{
    height: 100%;
    background-size: 175px;
}
.Avatar1 img{
    width: 200px;
    height: 200px;
}
.TituloAptitudes{
    padding: 0 0 5px 0;
}
.ListadoC{
    padding: 0 0 20px 40px;
}
.Listado{
    padding: 0 0 0 15px;
}
.HRBlancoC{
    padding: 30px 100px 5px 40px;
}
.HRBlanco{
    margin: 0;
}
.HRNegro{
    display: none;
}
.Contenido2{
    width: 100%;
}
.TituloEva{
    font-size: 45px;
}
.Informacion1 p{
    margin: 0;
    padding: 5px 0 5px 0;
}
.Informacion2 p{
    margin: 0;
    padding: 5px 0 5px 0;
}
.Contenido3 li{
    width: 95%;
}
}
@media (min-width: 400px) and (max-width: 500px){
.Avatar1{
    background-size: 218px;
}
}
@media (min-width: 450px) and (max-width: 500px){
    .Avatar1{
        background-size: 240px;
    }
}
@media (min-width: 501px) and (max-width: 600px){  
.Contenido1{
    width: 50%;
    padding: 40px 0 0 0; 
}
.Avatar1{
    height: 160px;
    background-size: 120px;
}
.Avatar1 img{
    width: 160px;
    height: 160px;
}
.TituloAptitudes{
    padding: 0 0 5px 0;
}
.ListadoC{
    padding: 0 0 20px 20px;
}
.Listado{
    padding: 0 0 0 15px;
}
.HRBlancoC{
    padding: 20px 0 10px 20px;
}
.HRBlanco{
    margin: 0;
}
.HRNegro{
    right: 80px;
}
.Contenido2{
    width: 70%;
}
.TituloEva{
    font-size: 45px;
    padding: 40px 10px 20px 20px;
}
.Direccion{
    width: 90%;
}
.Tituloscontenido{
    width: 65%;
}
.Informacion1 p{
    margin: 0;
    padding: 5px 0 5px 0;
}
.Informacion2 p{
    margin: 0;
    padding: 5px 0 5px 0;
}
.Contenido3 li{
    width: 95%;
}
}
@media (min-width: 601px) and (max-width: 800px){  
.Contenido1{
    width: 35%;
}
.Avatar1{
    height: 180px;
    background-size: 120px;
}
.Avatar1 img{
    width: 180px;
    height: 180px;
}
.TituloAptitudes{
    padding: 0 0 5px 0;
}
.ListadoC{
    padding: 0 0 30px 30px;
}
.Listado{
    padding: 0 0 0 25px;
}
.HRBlancoC{
    padding: 30px 0 10px 30px;
}
.HRBlanco{
    margin: 0;
}
.HRNegro{
    right: 80px;
}
.Contenido2{
    width: 70%;
}
.TituloEva{
    font-size: 55px;
    padding: 40px 10px 20px 20px;
}
.Informacion1 p{
    margin: 0;
    padding: 5px 0 5px 0;
}
.Informacion2 p{
    margin: 0;
    padding: 5px 0 5px 0;
}
.Contenido3 li{
    width: 95%;
}
}
@media (min-width: 700px) and (max-width: 800px){
.Contenido1{
    width: 30%;
}
.Contenido2{
    width: 70%;
}
}
@media (min-width: 801px) and (max-width: 1000px){  
.Contenedor{
    width: 100%;
}
.Contenido1{
    width: 30%;
}
.Avatar1{
    height: 180px;
    background-size: 140px;
}
.Avatar1 img{
    width: 180px;
    height: 180px;
}
.Contenido2{
    width: 60%;
}
.TituloEva{
    padding: 40px 10px 20px 20px;
}
.Informacion1 p{
    margin: 0;
    padding: 5px 0 5px 0;
}
.Informacion2 p{
    margin: 0;
    padding: 5px 0 5px 0;
}
.ParrafoResumen{
    width: 90%;
}
.Contenido3 li{
    width: 95%;
}
.HRNegro{
    right: 80px;
}
}
@media (min-width: 901px) and (max-width: 1000px){
.Avatar1{
    background-size: 150px;
} 
.Contenido1{
    width: 30%;
}
.Contenido2{
    width: 50%;
}
}
@media (min-width: 1101px) and (max-width: 1500px){  
.Avatar1{
    height: 200px;
    background-size: 140px;
}
.Avatar1 img{
    width: 200px;
    height: 200px;
}
.TituloEva{
    padding: 40px 10px 20px 20px;
}
.Informacion1 p{
    margin: 0;
    padding: 5px 0 5px 0;
}
.Informacion2 p{
    margin: 0;
    padding: 5px 0 5px 0;
}
.ParrafoResumen{
    width: 90%;
}
.Contenido3 li{
    width: 95%;
}
.HRNegro{
    right: 80px;
}
}
@media (min-width: 1001px) and (max-width: 1200px){  
.Contenedor{
    width: 100%;
}
.Contenido1{
    width: 25%;
    padding: 40px 0 0 0; 
}
.Contenido2{
    width: 50%;
}
}
@media (min-width: 1201px) and (max-width: 1500px){  
.Contenedor{
    width: 100%;
}
.Contenido1{
    width: 25%;
    padding: 40px 0 0 0; 
}
.Contenido2{
    width: 40%;
}
}
